**1. Import the necessary libraries**

In [90]:
import pandas as pd
import numpy as np
import datetime as dt

**2. Import the dataset from .csv.**

In [91]:
data = pd.read_csv('89cement data .csv')
data.head(10)

,Month,Production,Sales,demand,population,gdp,disbusment,interestrate,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,Jan-10,347.0,322.0,346.0,122.4,182277.0,60314.00,10.25,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb-10,306.0,285.0,338.0,122.5,181018.0,61213.92,10.33,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar-10,236.0,245.0,276.0,122.6,179759.0,62113.83,10.42,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr-10,234.0,212.0,245.0,122.8,178500.0,63013.75,10.50,NaN,NaN,NaN,NaN,NaN,NaN
4,May-10,296.0,289.0,312.0,122.9,177354.0,63913.67,10.58,NaN,NaN,NaN,NaN,NaN,NaN
5,Jun-10,224.0,212.0,215.0,123.1,176208.0,64813.58,10.67,NaN,NaN,NaN,NaN,NaN,NaN
6,Jul-10,184.0,174.0,181.0,123.2,175062.0,65713.50,10.75,NaN,NaN,NaN,NaN,NaN,NaN
7,Aug-10,193.0,200.0,216.0,123.3,177418.0,66613.42,10.83,NaN,NaN,NaN,NaN,NaN,NaN
8,Sep-10,169.0,152.0,178.0,123.5,179774.0,67513.33,10.92,NaN,NaN,NaN,NaN,NaN,NaN
9,Oct-10,200.0,214.0,215.0,123.6,182130.0,68413.25,11.00,NaN,NaN,NaN,NaN,NaN,NaN

**3. Drop the columns with null values.**

In [92]:
data = data.drop(['Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10', 'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'], axis=1)

**4. Renamed the columns for better understanding.**

In [93]:
data.columns = ['month', 'production', 'sales ', 'demand', 'population', 'gdp',
       'disbursement', 'interest_rate']
data.head(10)

,month,production,sales,demand,population,gdp,disbursement,interest_rate
0,Jan-10,347.0,322.0,346.0,122.4,182277.0,60314.00,10.25
1,Feb-10,306.0,285.0,338.0,122.5,181018.0,61213.92,10.33
2,Mar-10,236.0,245.0,276.0,122.6,179759.0,62113.83,10.42
3,Apr-10,234.0,212.0,245.0,122.8,178500.0,63013.75,10.50
4,May-10,296.0,289.0,312.0,122.9,177354.0,63913.67,10.58
5,Jun-10,224.0,212.0,215.0,123.1,176208.0,64813.58,10.67
6,Jul-10,184.0,174.0,181.0,123.2,175062.0,65713.50,10.75
7,Aug-10,193.0,200.0,216.0,123.3,177418.0,66613.42,10.83
8,Sep-10,169.0,152.0,178.0,123.5,179774.0,67513.33,10.92
9,Oct-10,200.0,214.0,215.0,123.6,182130.0,68413.25,11.00

**5. Check for null and duplicated values.**

In [94]:
duplicated = data.duplicated().sum()
print('Number of duplicated values: ', duplicated)
null = data.isnull().sum()
print('Number of null values: ', null)

Number of duplicated values:  843
Number of null values:  month            844
production       844
sales            844
demand           844
population       844
gdp              844
disbursement     844
interest_rate    844
dtype: int64

**6. Removed the null values.**

In [95]:
data = data.dropna()
null = data.isnull().sum()
print('Number of null values: ', null)

Number of null values:  month            0
production       0
sales            0
demand           0
population       0
gdp              0
disbursement     0
interest_rate    0
dtype: int64

**7. Checked for tail values.**

In [96]:
data.tail(10)

,month,production,sales,demand,population,gdp,disbursement,interest_rate
145,Feb-22,848.0,836.0,853.0,140.8,313161.38,217568.62,8.14
146,Mar-22,531.0,514.0,625.0,140.9,288039.68,219634.66,8.18
147,Apr-22,487.0,477.0,495.0,141.0,262917.98,221700.71,8.23
148,May-22,531.0,514.0,596.0,141.1,261644.65,223766.76,8.27
149,Jun-22,586.0,574.0,685.0,141.2,260371.32,225832.80,8.31
150,Jul-22,434.0,430.0,547.0,141.3,259097.99,227898.85,8.35
151,Aug-22,422.0,419.0,526.0,141.4,257824.66,229964.90,8.39
152,Sep-22,433.0,431.0,502.0,141.5,256551.33,232030.94,8.43
153,Oct-22,453.0,451.0,625.0,141.6,255278.00,234096.99,8.48
154,Nov-22,903.0,895.0,900.0,141.7,254004.67,236163.04,8.60

**8. Checked for duplicated values in the month column.**

In [97]:
duplicated_months = data.month.duplicated().sum()
print('Number of duplicated months: ', duplicated_months)

Number of duplicated months:  0

**9. Devided the Month and Year values in two columns and replaced the month(string) in month for it's numeric value.**

In [98]:
data['months'] = data['month'].str.split('-').str[0]
data['years'] = data['month'].str.split('-').str[1].astype(int)
data = data.drop(['month'], axis=1)

**10. Replaced the month data with it's full name (Jan = January).**

In [99]:
data['months'] = data['months'].replace(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct','Nov', 'Dec'], ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October','November', 'December'])
data.head(10)

,production,sales,demand,population,gdp,disbursement,interest_rate,months,years
0,347.0,322.0,346.0,122.4,182277.0,60314.00,10.25,January,10
1,306.0,285.0,338.0,122.5,181018.0,61213.92,10.33,February,10
2,236.0,245.0,276.0,122.6,179759.0,62113.83,10.42,March,10
3,234.0,212.0,245.0,122.8,178500.0,63013.75,10.50,April,10
4,296.0,289.0,312.0,122.9,177354.0,63913.67,10.58,May,10
5,224.0,212.0,215.0,123.1,176208.0,64813.58,10.67,June,10
6,184.0,174.0,181.0,123.2,175062.0,65713.50,10.75,July,10
7,193.0,200.0,216.0,123.3,177418.0,66613.42,10.83,August,10
8,169.0,152.0,178.0,123.5,179774.0,67513.33,10.92,September,10
9,200.0,214.0,215.0,123.6,182130.0,68413.25,11.00,October,10

In [100]:
data.tail(10)

,production,sales,demand,population,gdp,disbursement,interest_rate,months,years
145,848.0,836.0,853.0,140.8,313161.38,217568.62,8.14,February,22
146,531.0,514.0,625.0,140.9,288039.68,219634.66,8.18,March,22
147,487.0,477.0,495.0,141.0,262917.98,221700.71,8.23,April,22
148,531.0,514.0,596.0,141.1,261644.65,223766.76,8.27,May,22
149,586.0,574.0,685.0,141.2,260371.32,225832.80,8.31,June,22
150,434.0,430.0,547.0,141.3,259097.99,227898.85,8.35,July,22
151,422.0,419.0,526.0,141.4,257824.66,229964.90,8.39,August,22
152,433.0,431.0,502.0,141.5,256551.33,232030.94,8.43,September,22
153,453.0,451.0,625.0,141.6,255278.00,234096.99,8.48,October,22
154,903.0,895.0,900.0,141.7,254004.67,236163.04,8.60,November,22

**11. Summed up the year values + 2000 to get the full year.**

In [86]:
data['years'] = data['years'] + 2000
data.head(10)

,production,sales,demand,population,gdp,disbursement,interest_rate,months,years
0,347.0,322.0,346.0,122.4,182277.0,60314.00,10.25,January,2010
1,306.0,285.0,338.0,122.5,181018.0,61213.92,10.33,February,2010
2,236.0,245.0,276.0,122.6,179759.0,62113.83,10.42,March,2010
3,234.0,212.0,245.0,122.8,178500.0,63013.75,10.50,April,2010
4,296.0,289.0,312.0,122.9,177354.0,63913.67,10.58,May,2010
5,224.0,212.0,215.0,123.1,176208.0,64813.58,10.67,June,2010
6,184.0,174.0,181.0,123.2,175062.0,65713.50,10.75,July,2010
7,193.0,200.0,216.0,123.3,177418.0,66613.42,10.83,August,2010
8,169.0,152.0,178.0,123.5,179774.0,67513.33,10.92,September,2010
9,200.0,214.0,215.0,123.6,182130.0,68413.25,11.00,October,2010

**12. Joined the month and year columns to get the full date and converted to datetime format = "%Y-%m".**

In [87]:
data['date'] = data['months'] + '-' + data['years'].astype(str)
data['date'] = pd.to_datetime(data['date'], format="%B-%Y")
data = data.drop(['months', 'years'], axis=1)
data.head(10)

,production,sales,demand,population,gdp,disbursement,interest_rate,date
0,347.0,322.0,346.0,122.4,182277.0,60314.00,10.25,2010-01-01
1,306.0,285.0,338.0,122.5,181018.0,61213.92,10.33,2010-02-01
2,236.0,245.0,276.0,122.6,179759.0,62113.83,10.42,2010-03-01
3,234.0,212.0,245.0,122.8,178500.0,63013.75,10.50,2010-04-01
4,296.0,289.0,312.0,122.9,177354.0,63913.67,10.58,2010-05-01
5,224.0,212.0,215.0,123.1,176208.0,64813.58,10.67,2010-06-01
6,184.0,174.0,181.0,123.2,175062.0,65713.50,10.75,2010-07-01
7,193.0,200.0,216.0,123.3,177418.0,66613.42,10.83,2010-08-01
8,169.0,152.0,178.0,123.5,179774.0,67513.33,10.92,2010-09-01
9,200.0,214.0,215.0,123.6,182130.0,68413.25,11.00,2010-10-01

**13. Verified the data types.**

In [88]:
data.dtypes

production              float64
sales                   float64
demand                  float64
population              float64
gdp                     float64
disbursement            float64
interest_rate           float64
date             datetime64[ns]
dtype: object

**14. Exported the data to explore.csv.**

In [89]:
data.to_csv('explore.csv')